/* Aqui estou importando as fontes que foram socilitadas no escopo! */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

/* Aqui estou fazendo o reset padrão de alguns elementos para facilitar na estilização */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Aqui eu crio classes com propriedas css padrão, e apenas nomeio as tags html com elas assim otimizando a estilização */

.flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-flex-start{
    justify-content: flex-start;
}

.ai-center{
    align-items: center;
}

.jc-space-btw{
    justify-content: space-between;
}

.flex-collumn{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-row{
    flex-direction: row;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

/* Aqui eu começo a estilização do Header da página */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black-bar{
    width: 100%;
    height: 40px;
    background-color: #231F20;
    justify-content: center;
}

.sing-in{
    width: 1000px;
    height: 40px;
    color: white;
    justify-content: flex-end;
}

.sing-in a{
    text-decoration: underline solid white;
    color: white;
}

.sing-in p{
    padding: 0px 10px;
}

/* Aqui já estou na segunda sessão da página onde fica o logo e a barra de busca */

.logo{
    width: 1000px;
    height: 110px;
}

.logo img{
    width: 217px;
    height: 58px;
}

#search-input{
    width: 320px;
    height: 55px;

    font-size: 20px;
    outline: none;
    border: solid #c1c1c1;
    border-radius: 10px 0px 0px 10px;

    padding-left: 10px;
}

.search button{
    width: 150px;
    height: 55px;

    background-color: #CC0D1F;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;

    outline: none;
    border: none;
}

.search button:hover{
    background-color: white;
    color: #CC0D1F;
    border: 3px solid #CC0D1F;
    transition: all ease-in 0.2s;
    cursor: pointer;
}

/* Aqui eu estou estilizando a barra de navegação do site */

.red-bar{
    width: 100%;
    height: 60px;
    background-color: #CC0D1F;
}

.navigation{
    width: 1000px;
}

.category{
    width: 760px;
}

.list a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 15px;
}

.list a:hover{
    text-decoration: underline white 2px;
}

ul.list{
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

/* Aqui eu começo a estilizar os elementos de navegação do meio da página */

.side-navigation{
    width: 100%;
}

.square{
    width: 1000px;
}

.left{
    width: 180px;
    height: 600px;
    background-color: #E2DEDB;
    margin-top: 30px;
}

.rigth{
    width: 804px;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.side-list{
    list-style-type: disc;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.side-list a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.side-list a:hover{
    text-decoration: underline #000 2px;
}

.side-list li{
    margin-bottom: 25px;
}

.banner{
    width: 100%;
    height: 300px;
    background-color: #ACACAC;
}

.text{
    margin-top: 15px;
}

.text h2{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 5px;
}

.text p{
    max-width: 100%;
}

/* Aqui eu estilizo o footer */
.red-footer{
    width: 1000px;
    background-color: #CC0D1F;
    height: 180px;
    margin: 20px 0;
}

/* Agora eu vou estilizar os elementos da responsividade do site, como o icone de busca mobile e o menu hamburguer */
.search-mobile button{
    background-color: white;
    height: 47px;
    outline: none;
    border: none;
    display: none;
}

.search-mobile i{
    font-size: 30px;
    color: #CC0D1F;
}

#menuToggle {
  display: none;
  position: relative;
  top: 0;
  left: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #000;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 740px;
  margin: 20px 0 0 -220px;
  padding: 25px;
  padding-left: 225px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ol
{
  transform: none;
}

/* Aqui eu começo a estilizar os elementos que são criados na DOM com js, basicamente os cards com produtos  */
.card{
    margin-bottom: 30px;
    width: 232px;
    max-height: 337px;
}

.card img{
    border: 0.5px solid rgb(185, 182, 182);
    padding: 10px 10px;
    width: 210px;
    height: 210px;
}

.card h3{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 200px;
    text-align: center;
}

.card p{
    font-weight: 800;
    color: #CC0D1F;
    font-size: 20px;
    margin-bottom: 10px;
}

.card button{
    width: 210px;
    height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background-color: #7FBDB8;
    letter-spacing: 1px;
    border: none;
    border-radius: 8px 8px 8px 8px;
}

.card button:hover{
    background-color: white;
    color: #7FBDB8;
    border: 3px solid #7FBDB8;
    transition: all ease-in 0.2s;
    cursor: pointer;
}

/* Aqui começa as media queries e a alteração de alguns elementos */

@media screen and (max-width: 1000px){
    .sing-in, .logo, .navigation, .square, .red-footer{
        width: 740px;
    }

    .left{
        width: 133px;
        height: 500px;
    }

    .side-list{
        padding-left: 30px;
    }

    .rigth{
        width: 594px;
        grid-template-rows: 40% 60%;
    }

    .banner{
        height: 250px;
    }
}

@media screen and (max-width: 740px) {
    .sing-in, .logo, .navigation, .square, .red-footer{
        width: 300px;
    }

    .red-bar{
        display: none;
    }

    .sing-in{
        justify-content: center;
    }

    .search{
        display: none;
    }

    .logo img{
        width: 177px;
        height: 47px;
    }

    .rigth{
        margin-top: 0;
        grid-template-rows: 12% 88%;
    }

    .left{
        display: none;
    }

    .banner{
        height: 100px;
    }

    .search-mobile button{
        display: block;
    }

    #menuToggle{
        display: block;
    }

}